extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 John Raven Aquino

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | A passionate junior back-end developer with great hunger for knowledge and excitement. Determined to learn different stuffs in order to accomplish a specific goal.   
            | He believes in the saying "“If you love your work, if you enjoy it, you're already a success." with that in mind he is in no rush in making money, as long as he enjoy's the work he is doing, money will follow.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li React
          li Vanilla JS
          li jQuery
          li SQL 
          li PHP
        h6 Contact Info

        ul
          li 09672149472
          li synra.ph@yahoo.com

        a.button.expanded(href='#') LinkedIn
        a.button.expanded(href='https://github.com/synra-dev/') GitHub
        a.button.expanded(href='https://twitter.com/ravenaquinoo') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  