extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 My Portfolio Page
      p.lead.text-light
        | This is a porfolio page for any potential employers to view my work
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
        each project in projects
          .cell
            a(href=`/project/${project.id}`)
              img.thumbnail(src=`/static/images/demo-${project.id}.jpg`)
              h5= project.project_name